<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyPrivateFeed" value="https://pkgs.dev.azure.com/kshitijachavan040306/MyDotNetApp
    /_packaging/MyPrivateFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyPrivateFeed>
      <add key="Username" value="Azure DevOps" />
      <add key="ClearTextPassword" value="2IqX8C1wjm5O3WL8DKWxZlBtoT2TllGvFZnyYNYmOL9NNJTVTAGUJQQJ99BEACAAAAAAAAAAAAASAZDO2xEw" />
    </MyPrivateFeed>
  </packageSourceCredentials>
</configuration>
